<form name="createForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProjectLabel">
            Create a project</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" name="name"
                   ng-model="vm.project.name" ng-required="true" ng-maxlength="50">

            <div ng-show="createForm.name.$invalid">
                <p class="help-block"
                   ng-show="createForm.name.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="createForm.name.$error.maxlength"
                >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        >Cancel</span>
        </button>
        <button type="submit" ng-disabled="createForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Add</span>
        </button>
    </div>
</form>
